#header-navbar {
  background-color: #329928;
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
  font-size: 20px;
}

#header-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#header-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#header-navbar ul li a {
  display: block;
  padding: 19px 20px;
  color: #fff;
  text-decoration: none;
}

#header-navbar ul li a:hover {
  background-color: #81e677;
}