body {
  background-color: #e8e1c3;
  font-size: 20px;
}

#header-navbar {
  background-color: #b82f11;
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
  font-size: 20px;
}

#header-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#header-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#header-navbar ul li a {
  display: block;
  padding: 19px 20px;
  color: #fff;
  text-decoration: none;
}

#header-navbar ul li a:hover {
  background-color: #db7f7f;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  height: 700px;
}

.left{
  width: 40%;
  background-color:#c9c9c3;
}

.middle {
  width: 60%;
  background-color:#c9c9c3;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: 600px;
  height:700px;
}

#name {
  font-size: 50px;
  text-align:center;
  font-family: 'Phudu', cursive;
}